In [1]:
import numpy as np
import pandas as pd

In [2]:
# prepare variables for Series
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a': 10,
     'b': 20,
     'c': 30}

In [3]:
# create a Series using a list for the data (indices will default to integers if no index argument is provided)
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [4]:
# create a Series using lists for the data and indices
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [5]:
# create a Series using a NumPy array for the data and a list for the indices
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [6]:
# create a Series using a list of functions as data
pd.Series(data=[sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [7]:
# create a Series using lists for the data and indices
ser1 = pd.Series([1, 2, 3, 4],['USA', 'Germany', 'USSR', 'Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [8]:
# create a second Series using lists for the data and indices
ser2 = pd.Series([1, 2, 5, 4],['USA', 'Germany', 'Italy', 'Japan'])
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [9]:
# create a third Series using a dictionary for the data and indices
ser3 = pd.Series(d)
ser3

a    10
b    20
c    30
dtype: int64

In [10]:
# retrieve value at index 'USA' in ser1
ser1['USA']

1

In [11]:
# retrieve value at index 'Italy' in ser2
ser2['Italy']

5

In [12]:
# retrieve value at index 'b' in ser3
ser3['b']

20

In [13]:
# add ser1 and ser2. NaN will occur if an index is present in one Series but not the other 
# In this case, USSR is only in ser1 and Italy is only in ser2
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64