In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(101)

In [2]:
# create index levels
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
# create multilevel DataFrame
df = pd.DataFrame(np.random.randn(6,2), index = hier_index, columns = ['A', 'B'])
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [4]:
# select specific row from multilevel DataFrame by label
df.loc['G1'].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [5]:
# set index names (does not change actual indices)
df.index.names = ['Group', 'Row']
df

                  A         B
Group Row
G1    1    2.706850  0.628133
      2    0.907969  0.503826
      3    0.651118 -0.319318
G2    1   -0.848077  0.605965
      2   -2.018168  0.740122
      3    0.528813 -0.589001

In [6]:
# retrieve specific value from multilevel DataFrame (group G2, row 2, column B)
df.loc['G2'].loc[2]['B']

0.7401220570561068

In [7]:
# retrieve specific value from multilevel DataFrame (group G1, row 3, column A)
df.loc['G1'].loc[3]['A']

0.6511179479432686

In [8]:
# select cross-section by label (G1)
df.xs('G1')

            A         B
Row
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [9]:
# select specific rows from multilevel DataFrame (row 1 from groups G1 and G2)
df.xs(1, level = 'Row')

              A         B
Group
G1     2.706850  0.628133
G2    -0.848077  0.605965