In [1]:
import numpy as np
import pandas as pd

In [2]:
# create dictionary for DataFrame
d = {'A': [1, 2, np.nan],
     'B': [5, np.nan, np.nan], 
     'C': [1, 2, 3]}

In [3]:
# create DataFrame
df = pd.DataFrame(d)
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [4]:
# drop all rows with missing values
df.dropna()

     A    B  C
0  1.0  5.0  1

In [5]:
# df does not change because dropna() was not called in-place
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [6]:
# specify axis = 1 to drop all columns with missing values
df.dropna(axis = 1)

   C
0  1
1  2
2  3

In [7]:
# specify a theshold to set minimum number of missing values needed to drop row 
# thresh = 2 means a row will only be dropped if it contains at least 2 missing values
df.dropna(thresh = 2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [8]:
# df does not change because dropna() was not called in-place
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [9]:
# use fillna() to replace missing values
df.fillna(value = 'Fill')

      A     B  C
0     1     5  1
1     2  Fill  2
2  Fill  Fill  3

In [10]:
# filling missing values with the mean of the values in that column is one way to handle missing data
df['A'].fillna(value = df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64